body {
    background-color: #3f1f1f;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.win-screen {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
}

.x-win-screen__text, .o-win-screen__text, .draw-screen__text {
    padding-top: 10vh;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
    background-color: black;
}

.square {
    background-color:antiquewhite;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
    font-size: 9vh;
    color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 50ms;
}

.square__letter--0x, .square__letter--0o, .square__letter--1x, .square__letter--1o, .square__letter--2x, .square__letter--2o, .square__letter--3x, .square__letter--3o, .square__letter--4x, .square__letter--4o, .square__letter--5x, .square__letter--5o, .square__letter--6x, .square__letter--6o, .square__letter--7x, .square__letter--7o, .square__letter--8x, .square__letter--8o {
    display: none;
}

.square:hover {
    background-color: rgb(206, 191, 172);
}

.square:active {
    transform: scale(1.03);
}

.reset-btn {
    margin: 2em;
    padding: 1em 2em;
    border: 2px solid black;
    background-color: antiquewhite;
    border-radius: 0.5em;
    cursor: pointer;
    z-index: 3;
}

.winbar {
    width: 240px;
    height: 10px;
    border-radius: 6px;
    background-color: black;
    z-index: 2;
    position: absolute;
    /* transition: all ease-in-out 250ms; */
    transform: scaleX(0);
    transform-origin: left;
}

/* .rotate90 {
    transform: scaleX(0) rotate(90deg);
    background-color: red;
} */

@keyframes grow {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes growtate90 {
    from {
        transform: scaleY(0) rotate(90deg);
    }
    to {
        transform: scaleY(1) rotate(90deg);
    }
}

@keyframes growtate45 {
    from {
        transform: scale(0) rotate(45deg);
    }
    to {
        transform: scale(1.4) rotate(45deg);
    }
}

@keyframes growtate135 {
    from {
        transform: scale(0) rotate(135deg);
    }
    to {
        transform: scale(1.4) rotate(135deg);
    }
}